Merginng datasets

In [3]:
# import pandas as pd

# # Load the datasets from Excel files
# dengue_2011 = pd.read_excel('_dengue_dataset_2011.xlsx')
# dengue_2012 = pd.read_excel('_dengue_dataset_2012.xlsx')

# # Merge the datasets
# merged_dengue_data = pd.concat([dengue_2011, dengue_2012], axis=0)

# # Reset index if necessary
# merged_dengue_data.reset_index(drop=True, inplace=True)

# # Optionally save the merged dataset to a new Excel file
# merged_dengue_data.to_excel('merged_dengue_dataset.xlsx', index=False)

# # Display the first few rows of the merged dataset
# print(merged_dengue_data.head())

        date district    rainfall   min temp   max temp  mean temp  \
0 2011-01-31   Ampara  679.721439  21.789041  26.882796  23.939401
1 2011-02-28   Ampara  533.827970  22.309999  28.360154  24.932640
2 2011-03-31   Ampara   92.269087  22.493815  30.511428  25.966950
3 2011-04-30   Ampara  211.250235  23.693299  31.875488  27.026611
4 2011-05-31   Ampara   46.897325  25.055955  33.905659  29.092735

   wind speed  dew point  surface pressure  relative humidity  cloud coverage  \
0    2.489429  21.738182      99869.278348          87.501234        0.803371
1    2.004060  22.150662      99885.309153          84.547353        0.795664
2    1.257147  22.677968      99860.783875          82.094719        0.628763
3    0.887599  23.344425      99809.878982          80.294507        0.540800
4    1.857853  23.699582      99681.169959          72.717573        0.471534

   solar radiation  min elevation  max elevation  mean elevation  tree_cover  \
0       375.340592            -20            858       65.859763   26.595149
1       501.604819            -20            858       65.859763   26.595149
2       676.279411            -20            858       65.859763   26.595149
3       788.934695            -20            858       65.859763   26.595149
4       828.511698            -20            858       65.859763   26.595149

   urbanization
0      1.989998
1      1.989998
2      1.989998
3      1.989998
4      1.989998

In [ ]:
# print(merged_dengue_data.tail())

In [4]:
import pandas as pd

# List of Excel files
file_names = [
    '_dengue_dataset_2011.xlsx',
    '_dengue_dataset_2012.xlsx',
    '_dengue_dataset_2013.xlsx',
    '_dengue_dataset_2014.xlsx',
    '_dengue_dataset_2015.xlsx',
    '_dengue_dataset_2016.xlsx',
    '_dengue_dataset_2017.xlsx',
    '_dengue_dataset_2018.xlsx',
    '_dengue_dataset_2019.xlsx',
    '_dengue_dataset_2020.xlsx'
]

# Initialize an empty list to hold the DataFrames
dataframes = []

# Loop through each file, read it, and append to the list
for file in file_names:
    df = pd.read_excel(file)
    dataframes.append(df)

# Concatenate all DataFrames into one
merged_dengue_data = pd.concat(dataframes, axis=0)

# Reset index if necessary
merged_dengue_data.reset_index(drop=True, inplace=True)

# Save the merged dataset to a new Excel file
merged_dengue_data.to_excel('merged_dengue_dataset_2011_to_2020.xlsx', index=False)

# Display the first few rows of the merged dataset
print(merged_dengue_data.head())

        date district    rainfall   min temp   max temp  mean temp  \
0 2011-01-31   Ampara  679.721439  21.789041  26.882796  23.939401
1 2011-02-28   Ampara  533.827970  22.309999  28.360154  24.932640
2 2011-03-31   Ampara   92.269087  22.493815  30.511428  25.966950
3 2011-04-30   Ampara  211.250235  23.693299  31.875488  27.026611
4 2011-05-31   Ampara   46.897325  25.055955  33.905659  29.092735

   wind speed  dew point  surface pressure  relative humidity  cloud coverage  \
0    2.489429  21.738182      99869.278348          87.501234        0.803371
1    2.004060  22.150662      99885.309153          84.547353        0.795664
2    1.257147  22.677968      99860.783875          82.094719        0.628763
3    0.887599  23.344425      99809.878982          80.294507        0.540800
4    1.857853  23.699582      99681.169959          72.717573        0.471534

   solar radiation  min elevation  max elevation  mean elevation  tree_cover  \
0       375.340592            -20            858       65.859763   26.595149
1       501.604819            -20            858       65.859763   26.595149
2       676.279411            -20            858       65.859763   26.595149
3       788.934695            -20            858       65.859763   26.595149
4       828.511698            -20            858       65.859763   26.595149

   urbanization
0      1.989998
1      1.989998
2      1.989998
3      1.989998
4      1.989998

In [5]:
import pandas as pd

# List of Excel files
file_names = [
    '_dengue_dataset_2011.xlsx',
    '_dengue_dataset_2012.xlsx',
    '_dengue_dataset_2013.xlsx',
    '_dengue_dataset_2014.xlsx',
    '_dengue_dataset_2015.xlsx',
    '_dengue_dataset_2016.xlsx',
    '_dengue_dataset_2017.xlsx',
    '_dengue_dataset_2018.xlsx',
    '_dengue_dataset_2019.xlsx',
    '_dengue_dataset_2020.xlsx'
]

# Initialize an empty list to hold the DataFrames
dataframes = []

# Loop through each file, read it, and append to the list
for file in file_names:
    df = pd.read_excel(file)
    dataframes.append(df)

# Concatenate all DataFrames into one
merged_dengue_data = pd.concat(dataframes, axis=0)

# Reset index if necessary
merged_dengue_data.reset_index(drop=True, inplace=True)

# Group the data by 'district'
grouped_by_district = merged_dengue_data.groupby('district')

# Optionally, you can aggregate the data (e.g., summing up cases, etc.)
# grouped_by_district = merged_dengue_data.groupby('district').agg({'cases': 'sum', 'other_column': 'mean', ...})

# Save the grouped data to a new Excel file
grouped_by_district_df = grouped_by_district.apply(lambda x: x.reset_index(drop=True))
grouped_by_district_df.to_excel('test12.xlsx', index=False)

# Display the first few rows of the grouped data
print(grouped_by_district_df.head())

C:\Users\USER\AppData\Local\Temp\ipykernel_5764\3073714586.py:38: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_by_district_df = grouped_by_district.apply(lambda x: x.reset_index(drop=True))

                 date district    rainfall   min temp   max temp  mean temp  \
district
Ampara   0 2011-01-31   Ampara  679.721439  21.789041  26.882796  23.939401
         1 2011-02-28   Ampara  533.827970  22.309999  28.360154  24.932640
         2 2011-03-31   Ampara   92.269087  22.493815  30.511428  25.966950
         3 2011-04-30   Ampara  211.250235  23.693299  31.875488  27.026611
         4 2011-05-31   Ampara   46.897325  25.055955  33.905659  29.092735

            wind speed  dew point  surface pressure  relative humidity  \
district
Ampara   0    2.489429  21.738182      99869.278348          87.501234
         1    2.004060  22.150662      99885.309153          84.547353
         2    1.257147  22.677968      99860.783875          82.094719
         3    0.887599  23.344425      99809.878982          80.294507
         4    1.857853  23.699582      99681.169959          72.717573

            cloud coverage  solar radiation  min elevation  max elevation  \
district
Ampara   0        0.803371       375.340592            -20            858
         1        0.795664       501.604819            -20            858
         2        0.628763       676.279411            -20            858
         3        0.540800       788.934695            -20            858
         4        0.471534       828.511698            -20            858

            mean elevation  tree_cover  urbanization
district
Ampara   0       65.859763   26.595149      1.989998
         1       65.859763   26.595149      1.989998
         2       65.859763   26.595149      1.989998
         3       65.859763   26.595149      1.989998
         4       65.859763   26.595149      1.989998

In [2]:
import pandas as pd

df=pd.read_excel('merged_dengue_dataset_2011_to_2020_by_district.xlsx')
print(df.head(10))

        date district    rainfall   min temp   max temp  mean temp  \
0 2011-01-31   Ampara  679.721439  21.789041  26.882796  23.939401
1 2011-02-28   Ampara  533.827970  22.309999  28.360154  24.932640
2 2011-03-31   Ampara   92.269087  22.493815  30.511428  25.966950
3 2011-04-30   Ampara  211.250235  23.693299  31.875488  27.026611
4 2011-05-31   Ampara   46.897325  25.055955  33.905659  29.092735
5 2011-06-30   Ampara   11.304953  25.717108  34.792230  29.946976
6 2011-07-31   Ampara   30.718765  25.716644  34.462340  29.440357
7 2011-08-31   Ampara   69.604140  25.390427  34.436345  29.194857
8 2011-09-30   Ampara   57.401539  25.067440  34.676410  29.232175
9 2011-10-31   Ampara  236.770412  24.162157  31.606577  27.122260

   wind speed  dew point  surface pressure  relative humidity  cloud coverage  \
0    2.489429  21.738182      99869.278348          87.501234        0.803371
1    2.004060  22.150662      99885.309153          84.547353        0.795664
2    1.257147  22.677968      99860.783875          82.094719        0.628763
3    0.887599  23.344425      99809.878982          80.294507        0.540800
4    1.857853  23.699582      99681.169959          72.717573        0.471534
5    2.594600  21.550180      99591.200822          60.745317        0.299741
6    2.466781  21.431701      99568.028708          62.093211        0.619900
7    2.380449  21.612510      99617.778712          63.682185        0.471801
8    2.232498  21.715611      99730.887764          63.947024        0.422030
9    0.963468  23.226150      99795.921104          79.275559        0.597654

   solar radiation  min elevation  max elevation  mean elevation  tree_cover  \
0       375.340592            -20            858       65.859763   26.595149
1       501.604819            -20            858       65.859763   26.595149
2       676.279411            -20            858       65.859763   26.595149
3       788.934695            -20            858       65.859763   26.595149
4       828.511698            -20            858       65.859763   26.595149
5       835.166941            -20            858       65.859763   26.595149
6       773.860112            -20            858       65.859763   26.595149
7       764.917435            -20            858       65.859763   26.595149
8       840.290701            -20            858       65.859763   26.595149
9       720.035203            -20            858       65.859763   26.595149

   urbanization
0      1.989998
1      1.989998
2      1.989998
3      1.989998
4      1.989998
5      1.989998
6      1.989998
7      1.989998
8      1.989998
9      1.989998

In [3]:
df.dtypes

date                 datetime64[ns]
district                     object
rainfall                    float64
min temp                    float64
max temp                    float64
mean temp                   float64
wind speed                  float64
dew point                   float64
surface pressure            float64
relative humidity           float64
cloud coverage              float64
solar radiation             float64
min elevation                 int64
max elevation                 int64
mean elevation              float64
tree_cover                  float64
urbanization                float64
dtype: object

In [6]:
# Filter the dataframe to include only rows where the date is on or after 2014-01-01
start_date = '2014-01-01'
df = df[df['date'] >= start_date]
df = df.sort_values(by='date')
print(df.head(10))

           date     district    rainfall   min temp   max temp  mean temp  \
36   2014-01-31       Ampara  120.100373  21.923976  27.873376  24.505662
1416 2014-01-31  Kilinochchi  180.929063  24.255027  26.598590  25.392065
2336 2014-01-31  Polonnaruwa  229.751326  21.630108  27.934422  24.427670
1991 2014-01-31   Moneragala   84.614886  20.235332  27.398928  23.382532
266  2014-01-31      Badulla  136.783082  19.026352  25.423810  21.777085
496  2014-01-31      Colombo   68.095972  23.882068  31.196704  27.161854
956  2014-01-31       Jaffna  135.025416  24.652837  26.026704  25.415213
381  2014-01-31   Batticaloa  215.274398  22.641624  27.901822  25.025919
726  2014-01-31      Gampaha   52.410203  23.587180  30.197258  26.487184
1186 2014-01-31        Kandy  137.127217  20.084671  26.771611  22.979565

      wind speed  dew point  surface pressure  relative humidity  \
36      2.314742  21.814341     100151.778457          84.971592
1416    5.608055  21.751842     101258.291436          80.284197
2336    2.485453  21.774447     100086.574836          85.161668
1991    1.833784  20.610192      97479.973849          84.431493
266     1.157021  19.490645      94261.459393          86.847910
496     3.968569  21.258391     100925.625205          70.155311
956     7.131893  21.222143     101310.128030          77.613227
381     2.851187  22.117880     100875.085100          83.910010
726     4.337440  21.767799     100862.130960          75.312337
1186    2.042517  20.303418      96032.073257          84.891585

      cloud coverage  solar radiation  min elevation  max elevation  \
36          0.798244       448.725710            -20            858
1416        0.698622       512.065477            -17             59
2336        0.876192       452.263704             -4            533
1991        0.611716       546.295895             14           1482
266         0.742427       451.608979             65           2218
496         0.512897       672.535777            -13            452
956         0.758889       515.077979            -19             34
381         0.790831       445.522385            -11            385
726         0.392031       676.230763            -11            306
1186        0.665830       571.952220             67           1888

      mean elevation  tree_cover  urbanization
36         65.859763   22.149158      1.989998
1416       12.929901   16.450222      1.982390
2336       76.936726   25.892722      1.991564
1991      163.641252   28.197899      1.993537
266       623.716933   31.025144      2.022577
496        36.288229   20.998276      3.033678
956         6.616899    6.404997      2.301368
381        26.011840   11.732493      1.982883
726        34.520424   27.127415      2.477466
1186      656.256171   43.919310      2.047060

In [8]:
df.to_excel('rearranged_dengue_dataset.xlsx', index=False)