# Steps of data analysis

+ Handle missing values
+ EDA
+ Normalize data
+ Encode data
+ Feature engineering/ Feature selection

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [6]:
df = pd.read_excel('D:\\Dengue-Forecasting-Sri-Lanka\\finalized_dataset\\finalized_dengue_dataset.xlsx')

### Checking missing values

In [7]:
df.isna().sum()

date                  0
district              0
rainfall              0
min temp              0
max temp              0
mean temp             0
wind speed            0
dew point             0
surface pressure      0
relative humidity     0
cloud coverage        0
solar radiation       0
min elevation         0
max elevation         0
mean elevation        0
tree_cover            0
urbanization          0
dengue_cases          0
population            0
cases_per_capita      0
disease_prevalence    0
dtype: int64

#### Therefore we can conclude that there are no any missing values here.

### EDA

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1975 entries, 0 to 1974
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                1975 non-null   datetime64[ns]
 1   district            1975 non-null   object
 2   rainfall            1975 non-null   float64
 3   min temp            1975 non-null   float64
 4   max temp            1975 non-null   float64
 5   mean temp           1975 non-null   float64
 6   wind speed          1975 non-null   float64
 7   dew point           1975 non-null   float64
 8   surface pressure    1975 non-null   float64
 9   relative humidity   1975 non-null   float64
 10  cloud coverage      1975 non-null   float64
 11  solar radiation     1975 non-null   float64
 12  min elevation       1975 non-null   int64
 13  max elevation       1975 non-null   int64
 14  mean elevation      1975 non-null   float64
 15  tree_cover          1975 non-null   float64
 16  urbanization        1975 non-null   float64
 17  dengue_cases        1975 non-null   int64
 18  population          1975 non-null   int64
 19  cases_per_capita    1975 non-null   float64
 20  disease_prevalence  1975 non-null   float64
dtypes: datetime64[ns](1), float64(15), int64(4), object(1)
memory usage: 324.1+ KB

In [9]:
df.describe()

,date,rainfall,min temp,max temp,mean temp,wind speed,dew point,surface pressure,relative humidity,cloud coverage,solar radiation,min elevation,max elevation,mean elevation,tree_cover,urbanization,dengue_cases,population,cases_per_capita,disease_prevalence
count,1975,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.000000,1975.00000,1975.000000,1975.000000,1975.000000,1975.000000,1.975000e+03,1975.000000,1975.000000
mean,2017-04-30 14:34:56.202531328,169.283948,24.162019,30.263282,26.812365,3.034995,22.865828,99206.977526,79.286983,0.667155,664.664696,4.360000,911.44000,189.220491,32.507718,2.085822,248.684557,8.546435e+05,0.000248,0.024797
min,2014-01-31 00:00:00,0.000000,17.185297,24.407646,21.175728,0.382502,17.455001,92465.034356,55.805875,0.232886,333.537408,-35.000000,34.00000,6.616899,6.404997,1.961834,0.000000,9.500000e+04,0.000000,0.000000
25%,2015-08-31 00:00:00,46.763833,22.741758,28.818697,25.653127,1.681022,21.780103,99045.044720,75.215136,0.579681,587.314887,-14.000000,255.00000,34.520424,25.622268,1.991564,27.000000,4.750000e+05,0.000056,0.005553
50%,2017-04-30 00:00:00,116.039962,24.392768,29.934881,26.841745,2.706063,23.066393,100175.692228,80.260251,0.686038,673.431113,-9.000000,705.00000,71.123374,31.040072,2.008280,79.000000,7.560000e+05,0.000123,0.012254
75%,2018-12-31 00:00:00,250.447699,25.780480,31.706144,28.162619,4.182046,24.119002,100635.101197,84.607694,0.772266,751.378325,11.000000,1482.00000,163.641252,41.547343,2.060603,229.500000,1.114000e+06,0.000268,0.026750
max,2020-07-31 00:00:00,1161.690492,28.922537,36.089503,30.880208,9.230343,26.059354,101393.173610,91.777349,0.912086,856.403119,78.000000,2523.00000,1285.971990,54.326354,3.033678,9039.000000,2.455000e+06,0.005131,0.513107
std,NaN,163.136663,2.202138,2.127804,1.842274,1.706197,1.588094,2204.729184,6.546736,0.129064,102.000878,30.036764,765.48744,284.189740,11.138611,0.222613,534.436720,6.038271e+05,0.000391,0.039112